body {font: 16px; }

.hidden {display: none;}

.main-heading {
  color: yellow;
  padding: 20px;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  font-family: 'Bungee', cursive;
  font-size: 2em;
  background-color: black;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

/* set up the grid */
#svg-grid {
  display: grid;
  padding: 50px 100px 50px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
}

.container { display: flex; flex-direction: column;
}
.container img { width: 100%; }
.container svg { width: 100%; }
.container {
  padding: 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  background-color: none;
  border-radius: 20px;
}
